h1 {
    color: green;
}
/* Estilos para el formulario */
form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="date"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #f57c00;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    float: right;
    display: inline-block;
    margin-left: 10px;
}
header nav ul li:first-child {
    float: none;
}
